/dvp10_01
*.csv
*.pyc
!/dvp-10-hw-03/athletes.csv
!/dvp-10-hw-03/*.csv
dvp-10-hw-05/Основная_практика2.ipynb
dvp10_2021-01-26/decision_trees_st.ipynb
dvp-10-hw-08/outlier_detection.ipynb.ipynb_checkpoints